/* Reset default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3 {
  font-weight: 600;
  color: #1995AD;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

a {
  color: #1995AD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Basic responsiveness */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .Homepage section {
    width: 90%;
  }
  nav ul {
    flex-direction: row; /* Links become horizontal on smaller screens */
    justify-content: space-around;
    flex-wrap: wrap; /* Allow links to wrap onto multiple lines */
  }
  nav li {
    margin: 5px;
  }
}
