.SearchPage {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  background-color: #F1F1F2; /* Accent color */
}

.SearchPage h1 {
  color: #1995AD; /* Dominant color */
  font-size: 2em;
  margin-bottom: 20px;
}

.SearchPage p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}

.SearchPage input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.SearchPage button {
  background-color: #1995AD; /* Dominant color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
