nav {
  background-color: #1995AD;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a, .nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.4rem; /* Corrected unit */
}

nav a:hover, .nav-links a:hover { /* More specific selectors */
  background-color: #FF69B4; /* Pink for hover */
  color: white;
}

.logo {
  width: 100px; 
  height: auto;
  margin-bottom: 0px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
